{% extends "base.html" %}
{% block words %}
	{% for letter, words in data.items() %}
	<div class="lt" name="{{ letter }}">
	<span class="lt">{{ letter }}</span>
		{%- for word in words %}
		<div class="w" name='{{ word["name"] }}'>
		<div class="w_line"><span class="w_name">{{ word["name"] }}</span>,</div>
			{%- for meaning in word["meanings"] %}
			<div class="m" id="{{meaning['mid']}}">
				<div class="t">{{ meaning["technical"] }}</div>
				<div class="ds">
				{%- for definition in meaning["definitions"] %}
					{{definition}}
				{%- endfor %}
				</div>
				{%- if meaning["used_in"] %}
				<div class="u">Used In: {{ meaning["used_in"] }}</div>
				{%- endif %}
			</div>
			{%- endfor %}
		</div>
		{%- endfor %}
	</div>
    {% endfor %}
{% endblock %}